a.update-btn{
	color: blue;font-size: 13px;margin: 0 0 0 20px;cursor:pointer;
	display: none;
}
.pamw{
	padding: 10px;
}
.pdgf{
	width: 360px;
	display: inline-block;
	vertical-align: top;
}
.ordPrd:nth-child(2n){
	background: #f6f6f6;
}
.productspane{
	user-select: none;
	width: calc(100% - 370px);
}
.product-pane  {
	line-height: 50px;
	border-bottom: 0.1em solid #eee;
}
.product-pane > div {
	padding: 3px 20px;
}

.product-pane > div:nth-child(5)   {
	padding-right: 40px;
	color: green;
	font-weight: bold;
}
.product-pane > div:nth-child(6) > .fa {
	cursor: pointer;
}
.product-pane > div:nth-child(6) > .fa-pencil   {
	color: #3b5998;
}
.product-pane > div:nth-child(6) > .fa-trash   {
	color: red;
	margin-left: 20px;
}
.pscg{
	font-weight: bold;
	text-transform: capitalize;
	line-height: 40px;
}
.paymet-choice img {
	height: 50px;
	margin-left: 10px;
}
.edfr{
	padding:10px;
}
.edfr:hover a.update-btn{
	display: inline;
}
.hdsd{
	font-weight: bold;
	font-size: 13px;
	line-height: 30px;
	text-transform: uppercase;
}
.txtc{
	font-size: 15px;
}
.fa{
	margin-right: 10px;
}

label{
	display: block;
}
label > input {
	display: inline;
}
input{
	display: block;
	width: 100%;
	padding: 0 10px;
	line-height: 36px;
	margin-top: 10px;
	outline: none;
	border: 1px solid #eee;
	background: #f8f8f8;
}

input:focus{
	border-color: blue;
}
button[type=submit]{
	margin-top: 15px;
}



@media only screen and (min-width: 300px) and (max-width: 720px)  {
body {
}

.pdgf{
	max-width: 100%;
	display: block;
	width: 100%;
}
.orderspane{
	min-width: 100%;
}
}